JWT_SECRET=your_jwt_password
DATABASE_URL=your_database_url
REDIS_ADDR=your_addr_redis
REDIS_PASSWORD=password_redis
PORT=port


TWILIO_ACCOUNT_SID=your_sid_account
TWILIO_AUTH_TOKEN=your_token_auth
TWILIO_PHONE_NUMBER=umber_phone

# fq8jNLO7B8tEU2ntIc1pzi4u1nJIwlQQ
# SKf5c86dd993b720e0d459df3a222b4e82